In [121]:
import pandas as pd

In [122]:
df = pd.read_excel("DataSet.xlsx")
df.drop(columns=["PARKING","BUILDUP AREA"],inplace=True)
df.dropna(axis=0,inplace=True)
df.head()

,TITLE,LOCATION,PRICE,LAND AREA,ROAD ACCESS,FACING,FLOOR,BEDROOM,BATHROOM,BUILT YEAR,AMENITIES
0,House for Sale,"Imadol, Lalitpur",Rs. 2.9 Cr,4.0 aana,12 Feet,West,3.0,5.0,4.0,2076 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
1,House for Sale,"Satdobato, Lalitpur",Rs. 4.75 Cr,3.0 aana,10 Feet,West,4.5,5.0,6.0,2076 B.S,"['Earthquake Resistant', 'Parquet', 'Drinking ..."
2,4 BHK House for Sale,"Imadol, Lalitpur",Rs. 1.99 Cr,2.3 aana,10 Feet,West,2.5,4.0,4.0,2060 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
3,Bungalow House for Sale,"Bhaisepati, Lalitpur",Rs. 4 Cr,7.0 aana,12 Feet,North-West,2.5,4.0,3.0,2059 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
4,House for Rent,"Maharajgunj, Kathmandu",Rs. 12000000,6.0 aana,20 Feet,South,2.0,4.0,4.0,2071 B.S,"['Earthquake Resistant', 'Parquet', 'Parking',..."

In [123]:
df["LOCATION"] = df.apply(lambda row: row["LOCATION"].split(",")[0], axis = 1)
df.head()

,TITLE,LOCATION,PRICE,LAND AREA,ROAD ACCESS,FACING,FLOOR,BEDROOM,BATHROOM,BUILT YEAR,AMENITIES
0,House for Sale,Imadol,Rs. 2.9 Cr,4.0 aana,12 Feet,West,3.0,5.0,4.0,2076 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
1,House for Sale,Satdobato,Rs. 4.75 Cr,3.0 aana,10 Feet,West,4.5,5.0,6.0,2076 B.S,"['Earthquake Resistant', 'Parquet', 'Drinking ..."
2,4 BHK House for Sale,Imadol,Rs. 1.99 Cr,2.3 aana,10 Feet,West,2.5,4.0,4.0,2060 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
3,Bungalow House for Sale,Bhaisepati,Rs. 4 Cr,7.0 aana,12 Feet,North-West,2.5,4.0,3.0,2059 B.S,"['Earthquake Resistant', 'Marbel', 'Parquet', ..."
4,House for Rent,Maharajgunj,Rs. 12000000,6.0 aana,20 Feet,South,2.0,4.0,4.0,2071 B.S,"['Earthquake Resistant', 'Parquet', 'Parking',..."

In [124]:
x = 233423
if type(x) == int:
    print("hello world")

hello world

In [126]:
def filterprice(row):
    if type(row) == int:
         return row
    seperate_array=row.split()
    print(seperate_array)
    if seperate_array[0]=="Rs.":
        price = seperate_array[1].replace(',','')
        print(print)
        if seperate_array[-1]=="Cr":
                price = seperate_array[0].lstrip("Rs.")
                return float(price)*10000000
    else:
        return seperate_array[1]


df["PRICE"] = df.apply(lambda row: filterprice(row["PRICE"]), axis = 1)

df.head()

['Rs.', '2.9', 'Cr']
<built-in function print>

ValueError: could not convert string to float: ''